/* Content */

#headline {
@include dimension (100%, 130px);
background: $red-light;
text-align:center;
margin: 0 auto;
h1 
{
@include Content_head($base-color, 2.5em, 100);
padding-top:50px;
 @include break ($medium)
 {
    font-size:2em;padding-top:50px;
 }
 @include break ($small)
 {
    font-size:1.5em;padding-top:30px;
 }
}
}

#content                    
{
    @include dimension (940px, auto);
     margin:20px auto;
     @include break ($large)
     {
        width:inherit;
     }
     h3                 
        {
            @include Content_head($light-grey, 2em, 400);
            @include break ($small)
            {
                font-size:1.6em;
            }
        }
     #products {@include dimension (460px, auto);float:left;
        @include break ($large)
        {
            width:46%;margin:0 2%;
        }
        @include break ($medium)
        {
            width:96%;margin:0 2%;float:none;
        }
        img {float:left;margin-right:20px;}
        article {margin-bottom:40px;}
         h4 {line-height:1em;}}
     #testimonials {
         @include dimension (460px,auto);
        float:right;
        @include break ($large)
        {
            width:46%;margin:0 2%;
        }
        @include break ($medium)
        {
            width:96%;margin:0 2%;float:none;
        }
    }
    }