
@mixin header($color, $weight, $size, $height )
{
color: $color;
font-weight: $weight;
font-size: $size;
line-height: $height;
}
@mixin dimension($w, $h)
{
    width: $w;
    height: $h;
}

@mixin logo($pic)
{
background: $pic no-repeat 0 50px;
float:left;
display:block;
margin:0;
}

@mixin Content_head($color, $size, $weight)
{
    color: $color ;
    font-size:$size;
    font-weight: $weight;
}
@mixin footer ($bgcolor, $algn, $color, $pad-top)
{
background: $dark-grey;
text-align:center;
color: $base-color;
padding-top:50px;
}
@mixin break($ln) {

    @media screen and (max-width: $ln){
        @content;
    }
}

