
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900,100');

$base-color: #fff;
$dark-grey: #30353D;
$base-light: #F5F6F6;
$S-media: url("../images/social-media.png");
$red: #E65C43;
$red-light: #F25C43;
$light-grey: #666;
$bg-img: url("../images/bg.gif");
$bg-fig: url("../images/logo.png");
$small: 459px;
$medium: 767px;
$large:  959px;
$base-font: 'Roboto', sans-serif; 